* {
    margin: 0px;
    padding: 0px;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 3px;
}

.library {
    min-height: 81.91vh;
    position: relative;
}

.right {
    width: 75vw;
    max-height: 100vh;
}

.bg-black {
    background-color: black;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.logo img {
    width: 24px;
}

.logo {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    gap: 2px;
}

.home ul li {
    display: flex;
    gap: 15px;
    font-size: 16px;
    align-items: center;
    list-style: none;
    padding-top: 21px;
    font-weight: bold;
}

.home ul li img {
    width: 25px;
}

.heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.heading img {
    width: 25px;
    opacity: 0.7;
}

.heading h3 {
    font-size: 18px;
    color: grey;
}

.footer {
    display: flex;
    font-size: 10px;
    /* justify-content: space-between; */
    gap: 18px;
    position: absolute;
    bottom: 20px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.right {
    margin: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding-left: 20px;
}

.spotifyPlaylist h2 {
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 20px;
}

.cardContainer {
    display: flex;
    gap : 44px;
    flex-wrap: wrap;
    overflow-y :scroll;
    max-height: 72vh;
}

.card {
    position: relative;
    width: 229px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.card > *{
    padding-top: 7px;
}
.card img {
    width: 100%;
    object-fit: contain;
}
.play{
    position: absolute;
    top: 190px;
    right: 14px;
    opacity: 0;
}
.card:hover .play {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    top : 176px;
}
