.border{
    border : solid 1px black;
    margin : 1px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.rounded{
    border-radius:7px;
}
.m-1{
    margin : 5px;
}
.p-1{
    padding : 13px;
}
.container {
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #1e1e1e #111; /* Firefox */
}

/* Webkit-based browsers */
.container::-webkit-scrollbar {
    width: 2px;
}

.container::-webkit-scrollbar-track {
    background: #111; /* Dark background */
}

.container::-webkit-scrollbar-thumb {
    background: #222; /* Darker scrollbar */
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #333; /* Slightly lighter on hover */
}

.info{
    width: 150px; /* Set a fixed width for scrolling effect */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.title{
    display: inline-block;
    white-space: nowrap;
    transform: translateX(0%);
    
}

li:hover .title {
    animation: scrollText 5s linear infinite;
    color : #1bd760;
    
}

@keyframes scrollText {
    from {
        transform: translateX(100%); /* Start from right */
    }
    to {
        transform: translateX(-100%); /* Move to left */
    }
}

/* .song-name {
    width: 150px; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}


.scroll-text {
    display: inline-block;
    padding-left: 0%;
    transform: translateX(0%);
}

li:hover .scroll-text {
    animation: scrollText 8s linear infinite;
    color : #1bd760;

} */




 /* CHANGES MADE{
 cardContainer - padding left removed
} */
